@import "../../styles/styles";

.Navbar {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    margin-top: $spacing-01;
    list-style-type: none;
    li {
      margin-left: $spacing-07;
      padding: $spacing-01;
      img {
        width: 160px;
        height: 80px;
        margin-top: $spacing-01;
      }
      &:hover {
        color: $main-color;
        cursor: pointer;
      }
    }
  }

  .LoginNav {
    margin-right: 10%;
    li {
      a {
        display: block;
        text-decoration: none;
        color: inherit;
      }
    }
    .loginButton {
      background-color: white;
      padding: $spacing-05 $spacing-08;
      font-size: 16px;
      border: $main-border;
      color: $main-color;
      border-radius: $spacing-08;
      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
      }
    }
  }
}
