@import "../../../styles/styles";

.templateCard{
    display: flex;
    flex-direction: row;
    padding: $spacing-05;
    margin-bottom: $spacing-04;
    background: "#f0f0f0";

    .cardContent{
        flex: 1 0 auto;
    }

    .cardActions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .iconButtons{
        display: flex;
        flex-direction: row;
    }
}