@import "../../../styles/styles";

.templateCard{
    display: flex;
    flex-flow: row;
    padding: 20px;

    .cardContent{
        flex: 1 0 auto;
    }

    .cardActions{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .iconButtons{
        display: flex;
        flex-flow: row;
    }

    .actionButton{
        padding: 15px 10px 15px 10px;
    }
}