@import "../../../styles/styles";

.TemplateCard{
    margin-bottom: $spacing-04;
    display: flex;
    flex-direction: row;
    padding: $spacing-05;
    cursor: pointer;
    border-radius: $spacing-03;
    box-shadow: $default-box-shadow;
    background-color: $bg-01;
    &:hover {
        box-shadow: $hover-box-shadow;
    }

    .cardContent{
        flex: 1 0 auto;
    }

    .cardActions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .iconButtons{
        display: flex;
        flex-direction: row;
    }
}