@import "../../../styles/styles";

.Navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  box-shadow: $navbar-box-shadow;
  ul {
    display: flex;
    align-items: center;
    margin-top: $spacing-01;
    margin-bottom: 0;
    list-style-type: none;
    li {
      @include disableLinkDecoration();
      margin-left: $spacing-07;
      padding: $spacing-01;
      img {
        width: $logo-width;
        height: $logo-height;
        margin-top: $spacing-01;
      }
      &:hover {
        color: $main-color;
        cursor: pointer;
      }
    }
  }

  .LoginNav {
    margin-right: 10%;
    li {
      @include disableLinkDecoration();
    }
    button {
      color: inherit;
      background-color: white;
      padding: $spacing-04 $spacing-07;
      font-size: inherit;
      font-family: inherit;
      border: 0;
      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
      }
    }
  }

  .activeLink {
    color: $main-color !important;
    button {
      border: $main-border;
      border-radius: $spacing-08;
    }
  }

}
