@import "../../styles/styles";

.SessionRecordingUpload {
    .textContainer {
        padding: $spacing-03;
    }
    
    .previewContainer {
        align-items: center;
        justify-content: center;
        
    }
}