@import "../../../styles/styles";

.SearchBar{
    padding: $spacing-04 $spacing-09;

    .gridItem{
        display: flex;
        align-items: center;

        .searchNameContainer{
            background-color: $bg-02;
            border-radius: $spacing-03;
        }
    }
}

