@import "../../../styles/styles";

.searchBar{
    padding: $spacing-04 $spacing-09;

    .gridItem{
        display: flex;
        align-items: center;

        .searchNameContainer{
            background-color: #f0f0f0;
            border-radius: 8px;
        }
    }
}

