@import "../../../../../styles/styles";

.Poll {
  .multichoice {
    margin-top: 3 * $spacing-02;
    display: flex;
    align-items: center;

    .label {
      margin: 0;
    }
  }

  .options {
    margin-top: $spacing-02;
  }

  .clearOption {
    cursor: pointer;
  }

  .newOption {
    margin: $spacing-03 0;
    width: 100%;
  }

  .pollOption {
    margin-bottom: $spacing-03;

    .MuiOutlinedInput-adornedEnd {
      padding-right: 0;
    }
  }
  .error {
      @include error;
      text-align: center;
  }
}
