@import "../../../styles/styles";

.TemplateOverviewContainer {
    flex: 1;
    margin: 0 $spacing-07;
    height: 85%;
    .templateOverview{
        background-color: $bg-02;
        height: 100%;
        padding: $spacing-05;
        box-sizing: border-box;

        .templateName{
            font-size: x-large;
            font-weight: 600;
        }

        .accordion{
            background-color: $bg-04;
            margin: $spacing-03;
        }

        .accordionSummary{
            font-size: large;
            font-weight: 700;
        }

        .overviewList {
            width: 100%;
        }
    }
}