@use "../../../index.scss";

button {
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 8px 40px;
  margin-bottom: 20px;
  font-weight: 600;
  color: index.$main-color;
  border: 1px solid index.$main-color;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }
}
