@import "../../styles/styles";

.TemplateListContainer {
    height: 100%;
    background-color: $bg-01;
    margin: 0;
    display: flex;
    flex-flow: column;

    .TemplatesList{
        display: flex;
        flex-flow: column;
        padding: 10px 50px 10px 50px;
    }
}

