@import "../../../../styles/styles";


.Quiz {
    .quizForm {
        padding: 0 $spacing-03;
    }
    .percentageOfParticipants {
        width: 100%;
        div {
            background-color: $bg-02;
        }
    }
    .durationTime {
        width: 100%;
    }
    .error {
        @include error;
        text-align: center;
    }
    .updateButton {
        width: 100%;
        margin-top: $spacing-04;
    }
    .spacer {
        margin-top: $spacing-04;
    }
    .infoIconSpace {
        margin-left: $spacing-01;
    }
}
