.card {
  min-width: 500px;
  min-height: 400px;
  background-color: #f7f5f5;
  margin-right: 7%;
  -webkit-box-shadow: 10px 10px 26px 3px #727272;
  box-shadow: 10px 10px 26px 3px #727272;
  border-radius: 10px;
}
