@import "../../../styles/styles";

.EventCreation {
    width: 30%;
    margin: $spacing-06 $spacing-05;
    height: 85%;
    .creationForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .label {
        margin-top: $spacing-05;
        @include header-01;
    }
    .labelWithIcon {
        margin-top: $spacing-05;
        @include header-01;
        display: flex;
    }
    .input {
        width: 100%;
    }
    .submitButton {
        width: 100%;
        margin-top: $spacing-03;
    }
    .updateButton {
        width: 100%;
        margin-top: $spacing-04;
    }
    .option:hover {
        background-color: yellow !important;
    }
    .eventName {
        width: 100%;
        input {
            @include header-02;
            text-align: center;
        }
    }
    .moduleType {
        display: flex;
        width: 100%;
        margin-top: $spacing-05;
    }
}