@import "../../styles/styles";

.Container {
    h2, h4, b {
        @include header-01;
    }
    .text {
        width: 800px;
        margin-right: 5%;
    }
    ul {
        list-style-type:circle;
        padding-left: $spacing-05;
    }
}