@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
$main-color: #ff8a00;

body {
  font-size: 16px !important;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
