@import "../../styles/styles";

.TemplateCreation {
    height: 100%;
    background-color: $bg-01;
    margin: 0;
    display: flex;
    .container {
        margin: $spacing-06;
        width: 18%;
        height: 85%;
        @include resize($extra-large, 25%, 85%);
        .templateDetails {
            padding: $spacing-04;
            border-bottom: 1px solid $bg-01;
            .templateName {
                input {
                    text-align: center;
                    @include header-02;
                }
                width: 100%;
            }
            .durationTime {
                display: flex;
                align-items: flex-start;
                .durationTimeLabel {
                    padding-top: $spacing-03 + $spacing-02; //12px
                }
                .durationTimeInput {
                    width: 40%;
                    margin-left: $spacing-03;
                }
            }
            .error {
                color:red;
                @include text-01;
            }
            .label {
                margin-left: 0;
            }
            button {
                margin-top: $spacing-04;
                width: 100%;
            }
        }

    }
}

.progressBar {
    height: 100vh;
}