@import "../../styles/styles";

.MainNavbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    .link {
        margin-left: $spacing-03;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
            width: 40px;
            height: 40px;
        }
        p {
            font-weight: 600;
            margin: $spacing-02;
        }
    }

    ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: $spacing-01;
        margin-bottom: 0;
        list-style-type: none;
        box-shadow: 0 0 $spacing-08 rgba(0, 0, 0, 0.1);
        li {
            @include disableLinkDecoration();
            margin-left: $spacing-07;
            padding: $spacing-01;
            img {
                width: 140px;
                height: 70px;
                margin-top: $spacing-01;
            }
            &:hover {
                color: $main-color;
                cursor: pointer;
            }
        }
        li:last-child {
            margin-left: auto;
            margin-right: $spacing-08;
        }
    }

    .activeLink {
        border-bottom: $active-link-border;
        color: $main-color;
    }
}
