@import "../../../../../../../../styles/styles";


.QuizResultDetailsDialog {

    .appBar {
        position: fixed;
    }

    .title {
        font-size: $spacing-06;
        font-weight: 600;
        padding: 0 $spacing-05;
    }

    .container {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-09;
        padding-top: 2*$spacing-09;
        @include poppins-text;
    }

    .detailsSummary {
        flex: 1;
        height: 100%;
        margin-right: $spacing-07;
    }

    .detailsSummaryContent {
        padding: $spacing-06;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
    }

    .headerWithIcon {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: $spacing-07;
    }

    .header{
        color: $text-04;
        font-size: $spacing-07;
        font-weight: 600;
        padding: 0 $spacing-05;
    }

    .detailsView {
        flex: 3;
        height: 100%;
        box-sizing: border-box;
    }

    .detailsViewContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        padding: $spacing-06;
        overflow: auto;
    }

    .detailName{
        text-align: center;
        font-size: x-large;
        font-weight: 600;
    }

    .accordion{
        background-color: $bg-04;
        margin: $spacing-03;
    }

    .accordionSummary{
        font-size: large;
        font-weight: 400;
    }

    .accordionDetails {
        display: flex;
        flex-direction: column;
        padding: $spacing-04;
    }

    .accordionSubtitle {
        color: $text-01;
        font-size: $spacing-04;
        font-weight: 400;
    }

    .finalAnswersTitle {
        color: $text-04;
        font-size: $spacing-04;
        font-weight: 600;
    }

    .finalAnswers {
        color: $primary-accent;
        font-size: $spacing-04;
        font-weight: 500;
        display: flex;
        flex-direction: row;
    }

    .chartContainer {
        display: grid;
        grid-template-rows: 1fr 3fr;
        padding: $spacing-05;
        
        h2 {
            color: $text-02; 
            @include poppins-text;
        }

        h3 {
            color: $text-01;
            @include poppins-text;
        }
    }
    
    .chart {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: $spacing-05;
        overflow: hidden;
    }

}