@import "../../../styles/styles";

.Agenda {
    max-height: 40%;
    overflow: auto;
    padding-top: $spacing-03;
    h6 {
        margin-left: $spacing-05;
        @include header-02
    }
    ol {
        margin-left: $spacing-03 + $spacing-01; //10px
        li {
            display: flex;
            align-items: flex-start;
            p:first-child {
                width: $spacing-06;
            }
        }
    }
}
