@import "../../../../styles/styles";

.EventCard{
    margin-bottom: $spacing-04;
    cursor: pointer;

    .eventCardContent{
        display: flex;
        flex-direction: row;
        padding: $spacing-05;
        background-color: $bg-02;
    
        .cardContent{
            flex: 1 0 auto;
        }
    
        .cardActions{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .actionButton{
            margin-top: auto;
        }
    }
}
