@import "../../../../../../styles/styles";

.QuestionsList {
    margin-top: $spacing-04;
    text-align: center;
    background-color: $bg-03;
    padding: 0 $spacing-03;
    border: $container-border;
    border-radius: $spacing-03;
    .addNewQuestion {
        margin: $spacing-03 0;
    }
}