@import "../../styles/styles";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 1000px;
    height: 600px;
    margin-left: 5%;
  }
  form {
    margin-top: $spacing-08;
    text-align: center;
    button {
      margin-top: $spacing-05;
    }
  }
}

.spinner {
  font-size: 5px !important;
}
