@import "../../styles/styles";

.Login {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;


  @media screen and (max-width: $large){
    justify-content: center;
  }

  img {
    width: 1000px;
    height: 90%;
    margin-left: 5%;
    @include resize($extra-large, 800px, 90%);
    @include resize($large, 0, 0);
  }

  form {
    margin-top: $spacing-08;
    text-align: center;
    button {
      margin-top: $spacing-05;
    }
  }

  .formCardContainer {
    max-width: 500px;
    flex: 1;
    margin-right: 5%;
  }

  .errorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
