@use "../../index.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 1000px;
    height: 600px;
    margin-left: 5%;
  }
  form {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    button {
      margin-top: 20px;
    }
  }
}

.spinner {
  font-size: 5px !important;
}
