@import "../../../styles/styles";

.PointCreationContainer {
    margin-top: $spacing-02;
    padding: $spacing-02 $spacing-04;

    .header {
        color: $main-color;
        @include header-01;
    }

    .form {
        margin-top: $spacing-04;
        .label {
            margin-top: $spacing-02;
            color: $main-color;
            @include header-01;
        }
        .input {
            width: 100%;
            margin: $spacing-03 0;
        }
        button {
            margin-top: $spacing-03;
            width: 100%;
        }
    }
}