@import "../../../styles/styles";

.PointCreationContainer {
    margin-top: $spacing-02;
    padding: $spacing-02 $spacing-04;

    .header {
        color: $main-color;
        font-weight: 600;
    }

    .form {
        margin-top: $spacing-04;
        margin-right: $spacing-03 + $spacing-01; //10px
        .label {
            margin-top: $spacing-02;
            color: $main-color;
            font-weight: 600;
            font-size: 14px;
        }
        .input {
            width: 100%;
            margin: $spacing-03 0;
        }
        button {
            margin-top: $spacing-03;
            width: 100%;
        }
    }
}