@import "../../../styles/styles";

.AgendaEntry {
    display: flex;
    align-items: flex-start;
    .pointTitle {
        width: 2 * $spacing-09; // 100px
        min-width: 2 * $spacing-09; // 100px
        margin-left: $spacing-03;
        overflow-wrap: break-word;
    }
    .pointTime {
        width: 2 * $spacing-08; // 80px
        font-weight: bold;
        margin-left: $spacing-04;
    }
    .deleteIcon {
        margin-left: $spacing-04;
        &:hover {
            color: $main-color;
            cursor: pointer;
        }
    }
}