@import "../../../styles/styles";

.FileCard{
    margin-bottom: $spacing-04;
    border-radius: $spacing-03;
    box-shadow: $default-box-shadow;
    background-color: $bg-01;
    &:hover {
        box-shadow: $hover-box-shadow;
    }

    .fileCardContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $main-color;
        padding: $spacing-05;
    }

    .cardHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .label {
        color: $main-color;
    }

    .deleteIcon {
        color: $error-color;
    }
}
