@import "../../../styles/styles";

.FileCard{
    margin-bottom: $spacing-04;
    cursor: pointer;

    .fileCardContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $main-color;
        padding: $spacing-05;
        background-color: $bg-02;
    }

    .cardHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .label {
        color: $main-color;
    }

    .deleteIcon {
        color: $error-color;
    }
}
