@import "../../../../../../../../styles/styles";

.QuizResultParticipantsView {
    .headerWithIcon {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: $spacing-07;
    }

    .header{
        color: $text-04;
        font-size: $spacing-07;
        font-weight: 600;
        padding: 0 $spacing-05;
    }
}
