$main-color: #ff9800;
$main-color-2: #ffd18b;
$primary-accent: #F2994A;
$bg-01: #ffffff;
$bg-02: #f0f0f0;
$bg-03: #f2f2f2;
$bg-04: #E0E0E0;
$bg-05: #c9c9c9;
$bg-06: #566789;
$text-01: #828282;
$gray-2: #4F4F4F;
$gray-3: #828282;
$text-02: #4f4f4f;
$text-03: #000000;
$error-color: #eb5757;
