@import "./color";
@import "./spacing";
@import "./text";

$error-border: 1px solid red;
$main-border: 1px solid $main-color;
$container-border: 1px solid $bg-05;

$active-link-border: 3px solid $main-color;
$extra-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1400px;
$extra-large: 1600px;

@mixin resize($screenSize, $width, $height) {
  @media screen and (max-width: $screenSize) {
    width: $width;
    height: $height;
  }
}

@mixin disableLinkDecoration {
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}
