@import "../../../../../../../styles/styles";

.MainContent {
    flex: 3;
    margin-left: $spacing-06;
    padding: $spacing-04 $spacing-06;
    .header {
        display: flex;
        align-items: center;
        .headerText {
            @include header-03;
            margin-left: $spacing-05;
        }
        .icon {
            color: $main-color;
            height: $spacing-07;
            width: $spacing-07;
        }
    }
}